<div class="container-error">
  <h1 class="titulo-error">¡Upsi! Algo salió mal…</h1>
  {{error}}
  <br />

  <div class="info-childsbutton">
    <a href="/auth/login">
      <input type="button" value="Ir a Login" id="sign-in" />
    </a>
  </div>
  <br />
  <div class="info-childsbutton">
    <a href="/products">
      <input type="button" value="Ir a Productos" />
    </a>
  </div>
</div>