<div class="container-perfil">

    <!--  BANNER   -->
<section class="bannerPerfil">
  <div class="banner-content-perfil">
    
  </div>
</section>

<div class="container-titulo-botones">
  <h1 class="titulo-perfil">Perfil</h1>
  Email:
  {{user.email}}
  <br />
  isAdmin:
  {{user.isAdmin}}
  <br />
  Cart:
  {{user.cart}}
  <br />n

  <div class="info-childsbutton">
    <a href="/products">
      <input type="button" value="Ir a Productos" />
    </a>
  </div>
  <div class="info-childsbutton">
    <a href="/auth/logout">
      <input type="button" value="Salir" />
    </a>
  </div>
  </div>
</div>